___

<a href='https://mainacademy.ua/'> <img src='https://mainacademy.ua/wp-content/uploads/2019/03/logo-main.png' alt = 'Хмм, щось з інтернетом'/></a>
___

# Module 5: Data analysis with NumPy and Pandas

## Lab work 5.2

#### Мета: 

* навчитися працювати із бібліотекою Pandas в Python.

### Завдання:

In [1]:
import pandas as pd

Вивести версію та конфігурацію бібліотеки:

In [2]:
print(pd.__version__)
print(pd.show_versions())

1.0.1

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.6.final.0
python-bits      : 64
OS               : Darwin
OS-release       : 18.7.0
machine          : x86_64
processor        : i386
byteorder        : little
LC_ALL           : None
LANG             : uk_UA.UTF-8
LOCALE           : uk_UA.UTF-8

pandas           : 1.0.1
numpy            : 1.18.1
pytz             : 2019.3
dateutil         : 2.8.1
pip              : 20.0.2
setuptools       : 46.0.0.post20200309
Cython           : 0.29.15
pytest           : 5.3.5
hypothesis       : 5.5.4
sphinx           : 2.4.0
blosc            : None
feather          : None
xlsxwriter       : 1.2.7
lxml.etree       : 4.5.0
html5lib         : 1.0.1
pymysql          : None
psycopg2         : 2.8.6 (dt dec pq3 ext lo64)
jinja2           : 2.11.1
IPython          : 7.12.0
pandas_datareader: None
bs4              : 4.8.2
bottleneck       : 1.3.2
fastparquet      : None
gcsfs            : None
lxml.etree       : 4.5.0
matplotlib       : 3.1.3
numexpr          : 2.7.1
odfpy            : None
openpyxl         : 3.0.3
pandas_gbq       : None
pyarrow          : None
pytables         : None
pytest           : 5.3.5
pyxlsb           : None
s3fs             : None
scipy            : 1.4.1
sqlalchemy       : 1.3.13
tables           : 3.6.1
tabulate         : None
xarray           : None
xlrd             : 1.2.0
xlwt             : 1.3.0
xlsxwriter       : 1.2.7
numba            : 0.48.0
None

In [3]:
try:
    df = pd.read_csv('Ecommerce Purchases.crash')
    print('Файл успішно зчитано!')
    print('Інформація про набір даних:')
    print(df.info())
except:
    print('Помилка при зчитуванні файлу!')

Файл успішно зчитано!
Інформація про набір даних:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB
None

Скільки рядків і стовпців в наборі даних:

In [4]:
print('Кількість рядків в наборі даних:', df.shape[0])
print('Кількість стовпців в наборі даних:', df.shape[1])

Кількість рядків в наборі даних: 10000
Кількість стовпців в наборі даних: 14

Перевірити, чи в наборі даних містяться порожні значення:

In [5]:
#print(df.info())
print('Кількість порожніх значень по стовбцям:')
print(df.isnull().sum())

Кількість порожніх значень по стовбцям:
Address             0
Lot                 0
AM or PM            0
Browser Info        0
Company             0
Credit Card         0
CC Exp Date         0
CC Security Code    0
CC Provider         0
Email               0
Job                 0
IP Address          0
Language            0
Purchase Price      0
dtype: int64

Яка середня ціна закупки (Purchase Price):

In [6]:
avg_cost = df['Purchase Price'].mean()
print('Середня ціна закупки (Purchase Price)', avg_cost)

Середня ціна закупки (Purchase Price) 50.34730200000025

Скільки людей користуються англійською мовою "en" на веб-сайті:

In [7]:
print('Кількість людей, що користуються англійською мовою "en" на веб-сайті:',
         df['Language'].where(df['Language']=='en').count())

Кількість людей, що користуються англійською мовою "en" на веб-сайті: 1098

Скільки людей має посаду «Lawyer»?

In [8]:
num_lawyers = df[df['Job']=='Lawyer'].shape[0]
print('Кількість людей, що мають посаду «Lawyer»:', num_lawyers)

Кількість людей, що мають посаду «Lawyer»: 30

Скільки людей зробило покупку вранці та скільки людей зробило покупку після обіду?

In [9]:
morning_purch = df[df['AM or PM']=='AM']
morning_clients = morning_purch['Email'].value_counts()
evening_purch = df[df['AM or PM']=='PM']
evening_clients = evening_purch['Email'].value_counts()
print('Кількість людей, що зробили покупку вранці:', morning_clients.shape[0])
print('Кількість людей, що зробили покупку ввечері: ', evening_clients.shape[0])

Кількість людей, що зробили покупку вранці: 4917
Кількість людей, що зробили покупку ввечері:  5061

Які 5 найпоширеніших назв вакансій?

In [10]:
print(' 5 найпоширеніших назв вакансій: ')
print(df['Job'].value_counts()[:5])

 5 найпоширеніших назв вакансій:
Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Designer, jewellery                  27
Research officer, political party    27
Name: Job, dtype: int64

Хтось здійснив покупку, яка надійшла від Lot: "90 Wt", та якою була ціна придбання для цієї транзакції?

In [11]:
find_client = df[df['Lot'] == '90 Wt']
if find_client.shape[0] == 0:
    print('Не знайдено')
else:
    print(find_client)

Не знайдено

Яка електронна адреса особи з таким номером кредитної картки: 4926535242672853 ?

In [12]:

find_email = df[df['Credit Card'] == 4926535242672853]['Email']
print('Електронна адреса особи з таким номером кредитної картки 4926535242672853:\n', find_email.to_string(index=False))

Електронна адреса особи з таким номером кредитної картки 4926535242672853:
  bondellen@williams-garza.com

Скільки людей використовує American Express  і здійснили покупку на суму понад 100 доларів?

In [13]:

am_expr = df[df['CC Provider']=='American Express']
am_expr_big_purchase = am_expr[am_expr['Purchase Price']>100]
if am_expr_big_purchase.size==0:
    print('Не знайдено')
else:
    print(am_expr_big_purchase.size)

Не знайдено

Скільки людей мають кредитну картку, термін дії якої закінчується в 2025 році?

In [14]:
expiry_2025 = df['CC Exp Date'].str.contains('/25', regex=True).sum()
print('Кількість людей, що мають кредитну картку, термін дії якої закінчується в 2025 році: \n', expiry_2025)

Кількість людей, що мають кредитну картку, термін дії якої закінчується в 2025 році:
 1033

Які найкращі 5 найпопулярніших постачальників / хостів електронної пошти (наприклад, gmail.com, yahoo.com тощо ...).

In [15]:
domains = df['Email'].str.extract(r'(?P<domain>@\S+)')  # генерує data series з частинами Email, що задовольняють regexp.
                                                        # ?P<domain> - назва колонки у DataSeries (за замовчуванням 0)
print('5 найпопулярніших постачальників / хостів електронної пошти:')
print(domains['domain'].value_counts()[:5])

5 найпопулярніших постачальників / хостів електронної пошти:
@hotmail.com     1638
@yahoo.com       1616
@gmail.com       1605
@smith.com         42
@williams.com      37
Name: domain, dtype: int64

Виведіть зведену таблицю по браузерах(Browser Info), посаді(Job), та кількості транзакцій :

In [16]:
df.groupby(['Browser Info', 'Job'])[['Browser Info']].count()

                                                                                          Browser Info
Browser Info                                       Job
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0 r... Psychotherapist, dance movement                   1
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0 r... Retail merchandiser                               1
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0 r... Firefighter                                       1
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0 r... Broadcast presenter                               1
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0) ... Development worker, international aid             1
...                                                                                                ...
Opera/9.99.(X11; Linux i686; sl-SI) Presto/2.9.... Company secretary                                 1
Opera/9.99.(X11; Linux x86_64; en-US) Presto/2.... Dramatherapist                                    1
Opera/9.99.(X11; Linux x86_64; en-US) Presto/2.... Private music teacher                             1
Opera/9.99.(X11; Linux x86_64; it-IT) Presto/2.... Hotel manager                                     1
Opera/9.99.(X11; Linux x86_64; it-IT) Presto/2.... Scientist, forensic                               1

[9989 rows x 1 columns]

Створіть нову колонку "Actual price", яка утворюється із "Purchase Price" та націнки за принципом:
- якщо "Purchase Price" > 50, націнка 20%
- якщо "Purchase Price" > 100, націнка 10%
- в інших випадках націнка 30%

In [17]:
# Створимо функцію для знаходження Actual price в залежності від Purchase price
def find_price(el):
    if el > 50:
        return el*1.2
    elif el > 100:
        return el * 1.1
    else:
        return el * 1.3
df['Actual price'] = df['Purchase Price'].map(find_price)
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,Actual price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,117.768
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,84.876
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95,1.235
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04,93.648
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,93.384

Зробіть рангування набору даних по "Language" та "Actual price" в порядку спадання ціни.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rank.html

In [18]:
df_rank = df[['Language', 'Actual price']].copy()
df_rank['Rank'] = df_rank.groupby(['Language'])['Actual price'].rank(ascending=False)
df_rank.groupby('Language').get_group('en').sort_values(by='Rank') # перевіримо рангування для англійської мови

     Language  Actual price    Rank
9958       en       119.832     1.0
3619       en       119.628     2.0
8163       en       119.532     3.0
2543       en       119.412     4.0
5457       en       119.340     5.0
...       ...           ...     ...
2856       en         0.455  1094.0
8117       en         0.429  1095.0
6311       en         0.403  1096.0
9642       en         0.208  1097.0
8937       en         0.078  1098.0

[1098 rows x 3 columns]

Колонку "Language" (категоріальна змінна) "закодуйте", тобто утворити індикаторні колоник. В наборі не повинна залишитися колонка "Language".

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rank.html

In [19]:
df['Language_encoded'] = df['Language'].astype('category').cat.codes
df.drop('Language', axis = 1)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Purchase Price,Actual price,Language_encoded
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,98.14,117.768,1
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,70.73,84.876,4
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,0.95,1.235,0
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,78.04,93.648,3
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,77.82,93.384,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,82.21,98.652,5
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,25.63,33.319,6
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,83.98,100.776,1
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,38.84,50.492,3
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,67.59,81.108,1

Кінцевий набір даних збережіть у файл з розширенням csv.

In [20]:
df.to_csv('Ecommerce Purchases_changed.csv')